/* Add the theme */
@import 'theme.scss';

/* Add styling for the tree component */
@import '@ali-hm/angular-tree-component/css/angular-tree-component.css';

/* Some overrides */
$enable-rounded: false;

$theme-colors: (
  warning: $orange,
  danger: $orange,
) !default;

/* Add bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap';

/* General styles */
body,
html {
  height: 100%;
}

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Enable a column taking up the left space */
.flex-grow {
  flex: 1 0;
}

/* Style the toasts */
/* Overwrite some wrong styles from bootstrap */
.toast {
  opacity: 1 !important;
}

.toast-error {
  background-color: #bd362f !important;
}

.toast-success {
  background-color: #51a351 !important;
}

.toast-container .toast {
  border-radius: 0;
  box-shadow: none;
}

/* Style the dropzone */
dropzone.dz-wrapper > .dropzone {
  overflow: visible !important;
}

.dz-message {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  min-height: 150px !important;
  display: flex !important;
  background-color: transparent !important;
}

.dz-text {
  margin: auto;
}

.dz-details {
  color: white !important;
}

.dropzone .dz-preview {
  margin: 0 !important;
  margin-top: 10px !important;
  width: 100%;
  min-height: 0 !important;
}

dropzone.dz-wrapper > .dropzone .dz-preview .dz-details {
  padding: 0 !important;
  padding-left: 3px !important;
  padding-top: 3px !important;
}

dropzone.dz-wrapper > .dropzone {
  color: white !important;
}

/* Border-style for the intro wizard */
.card-intro-active {
  border-color: $orange !important;
  border-width: 2px !important;
}

/* Tree view */
tree-viewport {
  padding: 5px;
}

.angular-tree-component {
  .node-content-wrapper {
    padding: 0;
  }

  .toggle-children {
    background-image: none;
  }

  .toggle-children-placeholder {
    width: 0;
    padding: 0;
  }

  .toggle-children-wrapper {
    padding-right: 10px;

    .toggle-children {
      transform: none !important;
    }
  }

  .toggle-children::before {
    // folder-o
    content: '\f114';
    font-family: 'FontAwesome';
    font-weight: 900;
    /* required for FA5 solid */
    display: inline-block;
  }

  .toggle-children-wrapper-expanded {
    .toggle-children::before {
      // folder-open-o
      content: '\f115';
    }
  }

  .node-content-wrapper {
    width: 100%;
    transition: none;
  }

  .node-content-wrapper:hover {
    box-shadow: none !important;
    background-color: transparent;
  }

  .node-content-wrapper-active,
  .node-content-wrapper-focused {
    box-shadow: none !important;
    background-color: #906543 !important;
  }

  .node-drop-slot.is-dragging-over {
    background: $gray-700;
    height: 23px;
  }

  .node-content-wrapper.is-dragging-over {
    background: $gray-700;
    outline: 2px dotted #888;
    border: none;
  }
}
